In [1]:
import requests
from collections import defaultdict
import pandas as pd
import numpy as np

##  APIs

1. Forest: AG.LND.FRST.ZS
2. Permanent cropland: AG.LND.CROP.ZS
3. Agricultural Land: AG.LND.AGRI.ZS
4. Arable Land: AG.LND.ARBL.ZS
5. Land Cereal production : AG.LND.CREL.HA
6. Rural population: SP.RUR.TOTL.ZS
7. Urban Population:SP.URB.TOTL.IN.ZS
8. Male Employment:SL.AGR.EMPL.MA.ZS
9. Female Employement: SL.AGR.EMPL.FE.ZS
10. Fertilizer Use: AG.CON.FERT.ZS
11. Cereal Production: AG.YLD.CREL.KG
12. % of GDP value: NV.AGR.TOTL.ZS
13. Total Population: SP.POP.TOTL
14. Under 5 mortality: SH.DYN.MORT
15. Greenhouse Gases: EN.ATM.GHGT.KT.CE
16. CO2 emissions: EN.ATM.CO2E.KT
17. Poverty : SI.POV.DDAY

In [2]:
country_list = ['World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe']

In [3]:
%store largest_10_pop_df
%store countries_population_df

UsageError: Unknown variable 'largest_10_pop_df'

In [4]:
def removeFormatColumns(df):
    """
    _summary_

    Args:
        df (DataFrame): _description_

    Returns:
        DataFrame: _description_
    """
    df.drop(columns=['indicator','obs_status','decimal','countryiso3code', 'unit'], inplace=True, axis=1)

    return df

def formatColumns(df):
    """
    _summary_

    Args:
        df (DataFrame): _description_
    Returns:
        df (DateFrame):
    """
    
    df["date"] = pd.to_datetime(df["date"])

    #turn country feature into just country name
    for i, country in enumerate(df['country']):
        df.loc[i,'country'] = country['value']

    return df

def justCountries(df):
    """
    _summary_
    Args:
        df (DataFrame): _description_
    Returns:
        DataFrame: _description_
    """
    df=df[df['country'].isin(country_list)]
    return df

In [9]:
# list of worldbank API indicators that will be used to form a database
world_bank_api = ['SP.POP.TOTL', 'AG.LND.FRST.ZS','AG.LND.CROP.ZS','AG.LND.AGRI.ZS','AG.LND.ARBL.ZS','AG.LND.CREL.HA', 'SP.RUR.TOTL.ZS','SP.URB.TOTL.IN.ZS', 
'SL.AGR.EMPL.MA.ZS', 'SL.AGR.EMPL.FE.ZS', 'AG.CON.FERT.ZS','AG.YLD.CREL.KG', 
'NV.AGR.TOTL.ZS', 'SH.DYN.MORT', 'EN.ATM.GHGT.KT.CE', 'EN.ATM.CO2E.KT',         'SI.POV.DDAY']

# loop to create a list of URLs from api indicators
urls = []
for indicator in world_bank_api:
    url = 'http://api.worldbank.org/v2/countries/indicators/' + indicator 
    urls.append(url)
dataframe_list = []

# loop to get request each url and iterate through 18 pages of json data, then turn into a list of dataframes.

for url in urls:
    data = []
    try:  
        for page in range(1,18):
            payload = {'format': 'json', 'per_page': '1000', 'date':'1960:2022', 'page':page}     
            r = requests.get(url, params=payload)
            data+=r.json()[1]
        
        dataframe_list.append(pd.DataFrame(data))

    except:
        print('could not load data', url)

could not load data http://api.worldbank.org/v2/countries/indicators/AG.LND.CROP.ZS

In [ ]:
world_bank_columns = ['population', 'forest_%','crop_%','agricultural_%','arable_%','cereal_grain_%', 'rural_pop_%','urban_pop_%', 'male_employement_ag', 'female_employment_ag', 'fertilizer_consump','cereal_yield_hectare', 'total_gdp_ag_forestry_fishing', 'mortality_under5', 'Total_Greenhouse_gases', 'CO2_emmission','Poverty_under1_90_per_day']

world_bank_df = None

#format and combine datframes into a single dataframe
for i, df in enumerate(dataframe_list):
  df = removeFormatColumns(df)
  df = formatColumns(df)
  df = justCountries(df)
  
  if world_bank_df is not None:
    world_bank_df.insert(loc=len(world_bank_df.columns),column=world_bank_columns[i], 
    value=df['value'])
  else:
    world_bank_df = pd.DataFrame(df)
    world_bank_df.rename(columns={'value' : world_bank_columns[i]}, inplace=True)

KeyError: "['indicator', 'obs_status', 'decimal', 'countryiso3code', 'unit'] not found in axis"

In [ ]:
#countries with the top 10 populations
largest_10_population = world_bank_df[world_bank_df['date']=='2021'].nlargest(n=11,columns='population')

largest_10_list = [country for country in largest_10_population['country']]

largest_10_pop_df = world_bank_df[world_bank_df['country'].isin(largest_10_list)]

KeyError: 'SP.POP.TOTL'

In [ ]:
world_bank_df

,country,date,SP.POP.TOTL,AG.LND.FRST.ZS,AG.LND.CROP.ZS,AG.LND.AGRI.ZS,AG.LND.ARBL.ZS,AG.LND.CREL.HA,SP.RUR.TOTL.ZS,SP.URB.TOTL.IN.ZS,SL.AGR.EMPL.MA.ZS,SL.AGR.EMPL.FE.ZS,AG.CON.FERT.ZS,AG.YLD.CREL.KG,NV.AGR.TOTL.ZS,SH.DYN.MORT,EN.ATM.GHGT.KT.CE,EN.ATM.CO2E.KT,SI.POV.DDAY
2976,World,2021-01-01,7.836631e+09,NaN,NaN,NaN,NaN,NaN,43.415141,56.584859,NaN,NaN,NaN,NaN,4.334466,NaN,NaN,NaN,NaN
2977,World,2020-01-01,7.763933e+09,NaN,NaN,NaN,NaN,NaN,43.835106,56.164894,NaN,NaN,NaN,NaN,4.385748,36.6,NaN,NaN,NaN
2978,World,2019-01-01,7.683806e+09,NaN,NaN,NaN,NaN,NaN,44.277620,55.722380,27.598589,25.328136,NaN,NaN,4.007295,37.7,4.628762e+07,3.434401e+07,NaN
2979,World,2018-01-01,7.602716e+09,NaN,1.320327,36.903521,10.825170,728365199.0,44.722025,55.277975,28.071209,25.745340,136.824232,4070.667048,3.941813,38.8,4.613280e+07,3.428935e+07,8.7
2980,World,2017-01-01,7.519371e+09,NaN,1.316979,37.008413,10.831252,734598109.0,45.171279,54.828721,28.639666,26.391498,138.939337,4114.052902,4.139864,40.0,4.520654e+07,3.351454e+07,9.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16487,Zimbabwe,1964-01-01,4.322854e+06,NaN,0.258498,29.055189,5.260437,1253793.0,85.908000,14.092000,NaN,NaN,33.906634,820.500000,NaN,134.2,NaN,NaN,NaN
16488,Zimbabwe,1963-01-01,4.178726e+06,NaN,0.258498,28.835466,5.131188,1253451.0,86.422000,13.578000,NaN,NaN,24.231738,822.500000,NaN,138.6,NaN,NaN,NaN
16489,Zimbabwe,1962-01-01,4.039209e+06,NaN,0.258498,28.615743,5.001939,1352412.0,86.918000,13.082000,NaN,NaN,20.211886,905.900000,NaN,142.9,NaN,NaN,NaN
16490,Zimbabwe,1961-01-01,3.905038e+06,NaN,0.258498,28.396019,4.872690,1377015.0,87.179000,12.821000,NaN,NaN,21.957560,919.700000,NaN,147.0,NaN,NaN,NaN
16491,Zimbabwe,1960-01-01,3.776679e+06,NaN,NaN,NaN,NaN,NaN,87.392000,12.608000,NaN,NaN,NaN,NaN,NaN,150.9,NaN,NaN,NaN